.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
    flex-wrap: wrap;
    height: 22%;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60%;
}

.logo {
    width: 68px;
    height: 68px;
}

.rol {
  font-size: 1.1em;
  color: #333;
  padding-left: 5%;
}


.toggle-menu a {
  color: inherit;
  text-decoration: none;
  display: block;
  padding: 10px 30px;
  border-bottom: 2px solid rgb(115, 117, 111);
  width: 250px;
  background: #d1d1c9;
  box-shadow: 6px 6px 6px 4px rgb(148, 147, 132);
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 5px;
}

.toggle-menu a:hover {
  background-color: rgb(227, 207, 238);
}

.toggle-menu input[type="checkbox"], .toggle-menu .fa-bars, .toggle-menu .fa-times {
  position: absolute;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  right: 0;
  top: 0;
  width: 48px;
  height: 48px;
}

.toggle-menu .fa-bars, .toggle-menu .fa-times {
  font-size: 48px;
  pointer-events: none;
}

.toggle-menu input[type="checkbox"] {
  opacity: 0;
}

.toggle-menu {
  color: rgb(54, 46, 59);
  position: relative;
  top: 0;
  right: 0;
  z-index: 9999;
  min-height: 48px;
}

.header-nav {
  position: absolute;
  top: 100%;
  right: 0;
  padding: 10px;
  display: none;
}

.toggle-menu nav {
  display: none;
}

.toggle-menu input:checked ~ nav {
  display: block;
}

.toggle-menu input:checked ~ .fa-bars {
  display: none;
}

.toggle-menu input:not(:checked) ~ .fa-times {
  display: none;
}




@media (min-width: 768px) {
  .logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40%;
  }
}


@media (min-width: 1000px) {
  body {
    font-size: 1.2em;
  }

  .logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40%;
  }

  .logo {
    width: 89px;
    height: 83px;
  } 

  .toggle-menu {
    display: flex;
    flex-direction: row;
    width: 60%;
  }

  .toggle-menu input[type="checkbox"] {
    display: none;
  }

  .toggle-menu .fa-bars, .toggle-menu .fa-times {
    display: none;
  }

  #nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    top: 5%;
    justify-content: flex-end;
  }

  .list-sections {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
    padding: 0;
    list-style: none;
  }

  .section-link {
    display: flex;
    flex: none;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
  }

  

  .toggle-menu a {
    text-decoration: none;
    text-align: center;
    display:list-item;
    padding: 0;
    border: none;
    background: none;
    box-shadow: none;
    font-size: 1em;
    font-weight: bold;
    border-radius: none;
    position: none;
    top: 22%;
    width: auto;
  }

  .toggle-menu a:hover {
    color:#915278!important;
    box-shadow: 0 4px 16px #915278;
    text-decoration: underline;
  }
}